/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */


strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
select {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

/*
 * Add the correct display in all browsers.
 */

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

/**
 * Manually forked from SUIT CSS Base: https://github.com/suitcss/base
 * A thin layer on top of normalize.css that provides a starting point more
 * suitable for web applications.
 */

/**
 * 1. Prevent padding and border from affecting element width
 * https://goo.gl/pYtbK7
 * 2. Change the default font family in all browsers (opinionated)
 */

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  font-family: sans-serif; /* 2 */
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/**
 * Removes the default spacing and border for appropriate elements.
 */


dl,
dd,
h1,
h2,
h3,
p {
  margin: 0;
}

button {
  background: transparent;
  padding: 0;
}

/**
 * Work around a Firefox/IE bug where the transparent `button` background
 * results in a loss of the default `button` focus styles.
 */

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

fieldset {
  margin: 0;
  padding: 0;
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/**
 * Tailwind custom reset styles
 */

/**
 * 1. Use the system font stack as a sane default.
 * 2. Use Tailwind's default "normal" line-height so the user isn't forced
 * to override it to ensure consistency even when using the default theme.
 */

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 1 */
  line-height: 1.5; /* 2 */
}

/**
 * Allow adding a border to an element by just adding a border-width.
 *
 * By default, the way the browser specifies that an element should have no
 * border is by setting it's border-style to `none` in the user-agent
 * stylesheet.
 *
 * In order to easily add borders to elements by just setting the `border-width`
 * property, we change the default border-style for all elements to `solid`, and
 * use border-width to hide them instead. This way our `border` utilities only
 * need to set the `border-width` property instead of the entire `border`
 * shorthand, making our border utilities much more straightforward to compose.
 *
 * https://github.com/tailwindcss/tailwindcss/pull/116
 */

*,
*::before,
*::after {
  border-width: 0;
  border-style: solid;
  border-color: #e2e8f0;
}

/*
 * Ensure horizontal rules are visible by default
 */

/**
 * Undo the `border-style: none` reset that Normalize applies to images so that
 * our `border-{width}` utilities have the expected effect.
 *
 * The Normalize reset is unnecessary for us since we default the border-width
 * to 0 on all elements.
 *
 * https://github.com/tailwindcss/tailwindcss/issues/362
 */

img {
  border-style: solid;
}

input::-webkit-input-placeholder {
  color: #a0aec0;
}

input::-moz-placeholder {
  color: #a0aec0;
}

input:-ms-input-placeholder {
  color: #a0aec0;
}

input::-ms-input-placeholder {
  color: #a0aec0;
}

input::placeholder {
  color: #a0aec0;
}

button,
[role="button"] {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

h1,
h2,
h3 {
  font-size: inherit;
  font-weight: inherit;
}

/**
 * Reset links to optimize for opt-in styling instead of
 * opt-out.
 */

a {
  color: inherit;
  text-decoration: inherit;
}

/**
 * Reset form element properties that are easy to forget to
 * style explicitly so you don't inadvertently introduce
 * styles that deviate from your design system. These styles
 * supplement a partial reset that is already applied by
 * normalize.css.
 */

button,
input,
select {
  padding: 0;
  line-height: inherit;
  color: inherit;
}

/**
 * Use the configured 'mono' font family for elements that
 * are expected to be rendered with a monospace font, falling
 * back to the system monospace stack if there is no configured
 * 'mono' font family.
 */


code {
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/**
 * Make replaced elements `display: block` by default as that's
 * the behavior you want almost all of the time. Inspired by
 * CSS Remedy, with `svg` added as well.
 *
 * https://github.com/mozdevs/cssremedy/issues/14
 */

img,
svg,
canvas,
object {
  display: block;
  vertical-align: middle;
}

/**
 * Constrain images and videos to the parent width and preserve
 * their instrinsic aspect ratio.
 *
 * https://github.com/mozdevs/cssremedy/issues/14
 */

img {
  max-width: 100%;
  height: auto;
}

.appearance-none {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.bg-gray-200 {
  background-color: #edf2f7;
}

.bg-green {
  background-color: #88dbdf;
}

.bg-green-darker {
  background-color: #2EA2A8;
}

.bg-grey-darker {
  background-color: #606f7b;
}

.bg-grey {
  background-color: #b8c2cc;
}

.bg-grey-light {
  background-color: #dae1e7;
}

.bg-grey-lighter {
  background-color: #f1f5f8;
}

.bg-white {
  background-color: #ffffff;
}

.bg-red {
  background-color: #e3342f;
}

.bg-red-lightest {
  background-color: #fcebea;
}

.bg-orange-lightest {
  background-color: #fff5eb;
}

.bg-blue {
  background-color: #3490dc;
}

.bg-blue-lightest {
  background-color: #eff8ff;
}

.hover\:bg-green:hover {
  background-color: #88dbdf;
}

.hover\:bg-grey-light:hover {
  background-color: #dae1e7;
}

.hover\:bg-grey-lighter:hover {
  background-color: #f1f5f8;
}

.focus\:bg-white:focus {
  background-color: #ffffff;
}

.border-gray-200 {
  border-color: #edf2f7;
}

.border-green {
  border-color: #88dbdf;
}

.border-grey-dark {
  border-color: #8795a1;
}

.border-grey-light {
  border-color: #dae1e7;
}

.border-grey-lighter {
  border-color: #f1f5f8;
}

.border-red {
  border-color: #e3342f;
}

.border-orange {
  border-color: #f6993f;
}

.border-blue {
  border-color: #3490dc;
}

.focus\:border-gray-500:focus {
  border-color: #a0aec0;
}

.focus\:border-grey:focus {
  border-color: #b8c2cc;
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-b {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.border {
  border-width: 1px;
}

.border-t-4 {
  border-top-width: 4px;
}

.border-t {
  border-top-width: 1px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-l {
  border-left-width: 1px;
}

.cursor-pointer {
  cursor: pointer;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.table {
  display: table;
}

.hidden {
  display: none;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-no-wrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
}

.flex-auto {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.flex-grow {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.float-right {
  float: right;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.font-normal {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.h-3 {
  height: 0.75rem;
}

.h-4 {
  height: 1rem;
}

.h-6 {
  height: 1.5rem;
}

.h-screen {
  height: 100vh;
}

.leading-none {
  line-height: 1;
}

.leading-tight {
  line-height: 1.25;
}

.leading-normal {
  line-height: 1.5;
}

.list-disc {
  list-style-type: disc;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mr-3 {
  margin-right: 0.75rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mr-4 {
  margin-right: 1rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.ml-4 {
  margin-left: 1rem;
}

.mr-5 {
  margin-right: 1.25rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mr-6 {
  margin-right: 1.5rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mr-10 {
  margin-right: 2.5rem;
}

.max-w-xs {
  max-width: 20rem;
}

.max-w-sm {
  max-width: 24rem;
}

.min-h-screen {
  min-height: 100vh;
}

.opacity-50 {
  opacity: 0.5;
}

.hover\:opacity-100:hover {
  opacity: 1;
}

.focus\:outline-none:focus {
  outline: 0;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-y-auto {
  overflow-y: auto;
}

.p-1 {
  padding: 0.25rem;
}

.p-3 {
  padding: 0.75rem;
}

.p-4 {
  padding: 1rem;
}

.p-6 {
  padding: 1.5rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pl-4 {
  padding-left: 1rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.pr-8 {
  padding-right: 2rem;
}

.pt-12 {
  padding-top: 3rem;
}

.pointer-events-none {
  pointer-events: none;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
}

.inset-y-0 {
  top: 0;
  bottom: 0;
}

.top-0 {
  top: 0;
}

.right-0 {
  right: 0;
}

.shadow {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.shadow-md {
  -webkit-box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
          box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.focus\:shadow-outline:focus {
  -webkit-box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
          box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

.fill-current {
  fill: currentColor;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-gray-600 {
  color: #718096;
}

.text-gray-700 {
  color: #4a5568;
}

.text-green {
  color: #88dbdf;
}

.text-green-light {
  color: #A7E4E7;
}

.text-green-lighter {
  color: #D1F1F3;
}

.text-green-dark {
  color: #56CBD1;
}

.text-green-darker {
  color: #2EA2A8;
}

.text-black {
  color: #22292f;
}

.text-grey-darkest {
  color: #3d4852;
}

.text-grey-darker {
  color: #606f7b;
}

.text-grey-dark {
  color: #8795a1;
}

.text-grey {
  color: #b8c2cc;
}

.text-grey-lighter {
  color: #f1f5f8;
}

.text-white {
  color: #ffffff;
}

.text-red-darkest {
  color: #3b0d0c;
}

.text-red-dark {
  color: #cc1f1a;
}

.text-red {
  color: #e3342f;
}

.text-orange-darkest {
  color: #462a16;
}

.text-orange-dark {
  color: #de751f;
}

.text-orange {
  color: #f6993f;
}

.text-teal-lighter {
  color: #a0f0ed;
}

.text-blue-darkest {
  color: #12283a;
}

.text-blue-dark {
  color: #2779bd;
}

.text-blue {
  color: #3490dc;
}

.hover\:text-green:hover {
  color: #88dbdf;
}

.hover\:text-green-dark:hover {
  color: #56CBD1;
}

.hover\:text-grey-darker:hover {
  color: #606f7b;
}

.hover\:text-grey:hover {
  color: #b8c2cc;
}

.hover\:text-white:hover {
  color: #ffffff;
}

.text-xs {
  font-size: 0.75rem;
}

.text-sm {
  font-size: 0.875rem;
}

.text-base {
  font-size: 1rem;
}

.text-lg {
  font-size: 1.125rem;
}

.text-xl {
  font-size: 1.25rem;
}

.text-2xl {
  font-size: 1.5rem;
}

.text-3xl {
  font-size: 1.875rem;
}

.text-5xl {
  font-size: 3rem;
}

.uppercase {
  text-transform: uppercase;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tracking-tight {
  letter-spacing: -0.025em;
}

.tracking-wide {
  letter-spacing: 0.025em;
}

.align-baseline {
  vertical-align: baseline;
}

.align-middle {
  vertical-align: middle;
}

.whitespace-no-wrap {
  white-space: nowrap;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.w-3 {
  width: 0.75rem;
}

.w-4 {
  width: 1rem;
}

.w-6 {
  width: 1.5rem;
}

.w-1\/3 {
  width: 33.333333%;
}

.w-2\/3 {
  width: 66.666667%;
}

.w-full {
  width: 100%;
}

#position-0 > div {
  width: 100%;
}

@media (min-width: 1024px) {
  #position-0 > div {
    margin-right: 20px;
  }
}

.button {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.25rem;
  background-color: #dae1e7;
  color: #606f7b;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button:hover { background-color: #f1f5f8;
}

.button:focus { outline: 0; -webkit-box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5); box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

.button-dark {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.25rem;
  background-color: #dae1e7;
  color: #606f7b;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; background-color: #606f7b; color: #ffffff;
}

.button-dark:hover { background-color: #8795a1;
}

.button-dark:focus { outline: 0; -webkit-box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5); box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

.button-primary {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.25rem;
  background-color: #dae1e7;
  color: #606f7b;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; background-color: #2EA2A8; color: #ffffff;
}

.button-primary:hover { background-color: #56CBD1; color: #ffffff;
}

.button-primary:focus { outline: 0; -webkit-box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5); box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

.button-primary-light {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.25rem;
  background-color: #dae1e7;
  color: #606f7b;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; background-color: #A7E4E7; color: #606f7b;
}

.button-primary-light:hover { background-color: #D1F1F3;
}

.button-primary-light:focus { outline: 0; -webkit-box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5); box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

.button-alert {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.25rem;
  background-color: #dae1e7;
  color: #606f7b;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; background-color: #cc1f1a; color: #ffffff;
}

.button-alert:hover { background-color: #e3342f;
}

.button-alert:focus { outline: 0; -webkit-box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5); box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

.button-info {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.25rem;
  background-color: #dae1e7;
  color: #606f7b;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; background-color: #2779bd; color: #ffffff;
}

.button-info:hover { background-color: #3490dc;
}

.button-info:focus { outline: 0; -webkit-box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5); box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

.button-warning {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.25rem;
  background-color: #dae1e7;
  color: #606f7b;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; background-color: #de751f; color: #ffffff;
}

.button-warning:hover { background-color: #f6993f;
}

.button-warning:focus { outline: 0; -webkit-box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5); box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

.button-outline {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.25rem;
  background-color: #dae1e7;
  color: #606f7b;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; border-width: 1px; background-color: transparent; color: #dae1e7;
}

.button-outline:hover { background-color: #dae1e7; color: #8795a1;
}

.button-outline:focus { outline: 0; -webkit-box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5); box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

.button-outline-dark {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.25rem;
  background-color: #dae1e7;
  color: #606f7b;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; border-width: 1px; background-color: transparent; color: #dae1e7; color: #606f7b;
}

.button-outline-dark:hover { background-color: #606f7b; color: #dae1e7;
}

.button-outline-dark:focus { outline: 0; -webkit-box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5); box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

.button-outline-primary {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.25rem;
  background-color: #dae1e7;
  color: #606f7b;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; border-width: 1px; background-color: transparent; color: #dae1e7; border-color: #2EA2A8; color: #2EA2A8;
}

.button-outline-primary:hover { background-color: #2EA2A8; color: #ffffff;
}

.button-outline-primary:focus { outline: 0; -webkit-box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5); box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

.button-outline-primary-light {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.25rem;
  background-color: #dae1e7;
  color: #606f7b;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; border-width: 1px; background-color: transparent; color: #dae1e7; color: #A7E4E7;
}

.button-outline-primary-light:hover { background-color: #A7E4E7; color: #606f7b;
}

.button-outline-primary-light:focus { outline: 0; -webkit-box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5); box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

.button-outline-alert {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.25rem;
  background-color: #dae1e7;
  color: #606f7b;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; border-width: 1px; background-color: transparent; color: #dae1e7; color: #cc1f1a;
}

.button-outline-alert:hover { background-color: #cc1f1a; color: #ffffff;
}

.button-outline-alert:focus { outline: 0; -webkit-box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5); box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

.button-outline-info {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.25rem;
  background-color: #dae1e7;
  color: #606f7b;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; border-width: 1px; background-color: transparent; color: #dae1e7; color: #2779bd;
}

.button-outline-info:hover { background-color: #2779bd; color: #ffffff;
}

.button-outline-info:focus { outline: 0; -webkit-box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5); box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

.button-outline-warning {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.25rem;
  background-color: #dae1e7;
  color: #606f7b;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; border-width: 1px; background-color: transparent; color: #dae1e7; color: #de751f;
}

.button-outline-warning:hover { background-color: #de751f; color: #ffffff;
}

.button-outline-warning:focus { outline: 0; -webkit-box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5); box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

code {
  font-size: 15px;
}

code {
  font-family: monospace,Monaco,Menlo,Consolas,"Courier New";
}

.link-primary { color: #2EA2A8
}

.link-primary:hover { color: #56CBD1
}

ul.pagination, div.pagination ul { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;
}

ul.pagination li, div.pagination ul li { margin-right: 0.5rem
}

.wrapper {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

@media (min-width: 768px) {
  .wrapper {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: 100%;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  .breadcrumb li:before {
    content: ">";
    margin-right: 10px;
  }

  .breadcrumb li:first-child:before {
    content: "";
    margin-right: 0;
  }
}

@media (min-width: 768px) {

  .md\:flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .md\:float-right {
    float: right;
  }

  .md\:px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .md\:pb-8 {
    padding-bottom: 2rem;
  }

  .md\:pt-12 {
    padding-top: 3rem;
  }

  .md\:w-1\/2 {
    width: 50%;
  }
}

@media (min-width: 1024px) {

  .lg\:border-0 {
    border-width: 0;
  }

  .lg\:border-b-0 {
    border-bottom-width: 0;
  }

  .lg\:block {
    display: block;
  }

  .lg\:inline-block {
    display: inline-block;
  }

  .lg\:flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .lg\:hidden {
    display: none;
  }

  .lg\:items-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .lg\:flex-auto {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .lg\:flex-grow {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }

  .lg\:float-none {
    float: none;
  }

  .lg\:mt-0 {
    margin-top: 0;
  }

  .lg\:mb-2 {
    margin-bottom: 0.5rem;
  }

  .lg\:ml-6 {
    margin-left: 1.5rem;
  }

  .lg\:max-h-full {
    max-height: 100%;
  }

  .lg\:overflow-visible {
    overflow: visible;
  }

  .lg\:pt-0 {
    padding-top: 0;
  }

  .lg\:pl-6 {
    padding-left: 1.5rem;
  }

  .lg\:pr-8 {
    padding-right: 2rem;
  }

  .lg\:static {
    position: static;
  }

  .lg\:relative {
    position: relative;
  }

  .lg\:sticky {
    position: -webkit-sticky;
    position: sticky;
  }

  .lg\:text-sm {
    font-size: 0.875rem;
  }

  .lg\:w-auto {
    width: auto;
  }

  .lg\:w-1\/4 {
    width: 25%;
  }

  .lg\:w-2\/4 {
    width: 50%;
  }

  .lg\:w-3\/4 {
    width: 75%;
  }
}

@media (min-width: 1280px) {

  .xl\:w-1\/5 {
    width: 20%;
  }

  .xl\:w-3\/5 {
    width: 60%;
  }

  .xl\:w-4\/5 {
    width: 80%;
  }
}
